extends /includes/layout
include /includes/articles

block title
  title=h.title("Elm – functional frontend development")

block meta
  meta(name="description" content="Elm is a functional programming language that compiles to JavaScript. Opposed to JavaScript, Elm is statically typed.")
  meta(name="keywords" content="Elm,Frontend development,Functional Programming,functions,Elm tutorials,data structures,record,tuple,list,maybe")

block og
  meta(property="og:type" content="article")
  meta(property="og:title" content=h.title("Elm – functional frontend development"))
  meta(property="og:description" content="Elm is a functional programming language that compiles to JavaScript. Opposed to JavaScript, Elm is statically typed.")
  meta(property="article:section" content="Technology")
  meta(name="twitter:image" content=h.assetUrl("images/og/elm.png", "http"))
  meta(property="og:image" content=h.assetUrl("images/og/elm.png", "http"))
  meta(property="og:image:secure_url" content=h.assetUrl("images/og/elm.png", "https"))
  meta(property="article:tag" content="Elm")
  meta(property="article:tag" content="Frontend development")
  meta(property="article:tag" content="Functional Programming")
  meta(property="article:tag" content="functions")
  meta(property="article:tag" content="Elm tutorials")
  meta(property="article:tag" content="data structures")
  meta(property="article:tag" content="record")
  meta(property="article:tag" content="tuple")
  meta(property="article:tag" content="list")
  meta(property="article:tag" content="maybe")

block alternate
  link(href="/articles/elm.xml" rel="alternate" type="application/atom+xml")

block main
  section.top
    .wrap
      h1 Elm – functional frontend development

  section.wrap
    :markdown-it(html linkify typographer)
      Elm is a functional programming language that compiles to JavaScript.
      Opposed to JavaScript, Elm is statically typed.
      The compiler type checks the code and guarantees to generate reliable code that will not throw any runtime exceptions.
      Consequently even the view is statically typed – the templates, which are written in elm-html, are based on the concept of the Virtual DOM, just like in React.

      The syntax might look odd at first if you have not worked with a functional programming language before.
      Nevertheless it is very clear and does not take much time to get used to.
      The following articles introduce you to the fundamentals of funtional frontend development with Elm.

  section.wrap
    h2 Fundamentals

    - const articles = h.articles.filterByLanguage(mvb.groupedArticles.byTag["Elm"], h.lang(locals)).reverse()
    +articles(articles, "topic")
