extends ../templates/layout
include ../templates/_articles
include ../templates/_icon

block title
  title
    = mvb.article.title
    if mvb.article.subtitle
      = " – "
      = mvb.article.subtitle

block meta
  meta(name="description" content=h.article.description(mvb.article))
  if mvb.article.tags
    meta(name="keywords" content=h.article.keywords(mvb.article))

block foot
  if h.article.hasCode(mvb.article)
    link(href=h.assetUrl("styles/vendor/highlightjs.css") media="all" rel="stylesheet")

block main
  - a = mvb.article
  - update = h.article.getDate(a)
  section
    article.article
      header.article__header
        hgroup
          h1.article__title= a.title
          if a.subtitle
            h2.article__subtitle= a.subtitle
      .article__content!= a.content
      footer.article__footer
        .article__meta
          p
            if h.isEnglish(locals)
              span Published on&nbsp;
              time.article__date= h.formatDateEnglish(a.date)
            else
              span Veröffentlicht am&nbsp;
              time.article__date= h.formatDateGerman(a.date)
            if update && update != a.date
              = " – "
              if h.isEnglish(locals)
                span updated on&nbsp;
                time.article__date= h.formatDateEnglish(update)
              else
                span aktualisiert am&nbsp;
                time.article__date= h.formatDateEnglish(update)
            | .
            p
              if a.elmVersion
                if h.isEnglish(locals)
                  | Code samples for Elm #{a.elmVersion}.
                else
                  | Code-Beispiele für Elm #{a.elmVersion}.
                = " "
              if h.isEnglish(locals)
                = " You got remarks or corrections? Typos or grammatical improvements? "
                a(href=`https://github.com/dennisreimann/website/blob/master/src/articles/${a.fileName}`) Let me know!
              else
                = " Du hast Anmerkungen oder Verbesserungen? "
                a(href=`https://github.com/dennisreimann/website/blob/master/src/articles/${a.fileName}`) Lass es mich wissen!
            p.social
              if h.isEnglish(locals)
                = " Liked the article? Follow me on "
                a.social__link(href="https://twitter.com/dennisreimann" rel="me")
                  | Twitter
                  +icon("social", "twitter").social__icon
              else
                = " Dir hat der Artikel gefallen? Folge mir auf "
                a.social__link(href="https://twitter.com/dennisreimann" rel="me")
                  | Twitter
                  +icon("social", "twitter").social__icon
            p
              if h.isEnglish(locals)
                | And by the way:
                = " "
                strong I am available for hire
                = " "
                | – if you are looking for help,
                = " "
                a.more__link(href="/contact.html") get in touch
              else
                | Übrigens: Ich unterstütze dich oder dein Team auch gerne –
                | wer Hilfe bei Projekten sucht, kann
                = " "
                a.more__link(href="/kontakt.html") mich gerne kontaktieren
        .article__nav
          - prevArticle = mvb.article.previousArticle
          - nextArticle = mvb.article.nextArticle
          h5.article__nav__title= h.t(locals, "Weitere Artikel", "More articles")
          +articles([nextArticle, prevArticle].filter(function(e){return e}), "blog").article__nav__items

  section
    include ../templates/ioctocat
