extends ../templates/layout

block title
  title
    = mvb.article.title
    if mvb.article.subtitle
      = " – "
      = mvb.article.subtitle
    = " • Frontend-Entwicklung mit JavaScript, CSS und HTML"
block meta
  meta(name="description" content=(mvb.article.description || mvb.article.content.replace(/(<([^>]+)>)/ig, "").substring(0, 150)))
  if mvb.article.tags
    meta(name="keywords" content=mvb.article.tags.join(','))
    
block main
  section
    article.article
      header.article__header
        hgroup
          h1.article__title= mvb.article.title
          if mvb.article.subtitle
            h2.article__subtitle= mvb.article.subtitle
      .article__content!= mvb.article.content
      footer.article__footer
        if mvb.article.lang == "en"
          span Written on
          time.article__date= mvb.article.date.toString().replace(/\w+\s(\w+)\s(\d+)\s(\d+).*/,"$1 $2, $3")
        else
          span Geschrieben am
          time.article__date= mvb.article.date.toISOString().replace(/T.*/, "").split("-").reverse().join(".")
