extends /includes/layout
include /includes/articles
include /includes/icon

block title
  title= h.article.title(mvb.article)

block meta
  meta(name="description" content=h.article.description(mvb.article))
  if mvb.article.tags
    meta(name="keywords" content=h.article.keywords(mvb.article))

block og
  meta(property="og:type" content="article")
  meta(property="og:title" content=h.article.title(mvb.article))
  meta(property="og:description" content=h.article.description(mvb.article))
  meta(property="article:author" content="https://www.facebook.com/profile.php?id=100008783506280")
  meta(property="article:section" content="Technology")
  meta(property="article:published_time" content=h.article.feedDate(mvb.article))
  if mvb.article.ogImage
    meta(property="og:image" content=h.assetUrl(`images/og/${mvb.article.ogImage}.png`, "http"))
    meta(property="og:image:secure_url" content=h.assetUrl(`images/og/${mvb.article.ogImage}.png`, "https"))
    meta(property="og:image:width" content=1600)
    meta(property="og:image:height" content=838)
  if mvb.article.tags
    for tag in mvb.article.tags
      meta(property="article:tag" content=tag)

block foot
  if h.article.hasCode(mvb.article)
    link(href=h.assetUrl("styles/vendor/highlightjs.css") media="all" rel="stylesheet")

block main
  - a = mvb.article
  - update = h.article.getDate(a)
  article.article
    header.article__header.top
      hgroup.wrap
        h1.article__title= a.title
        if a.subtitle
          h2.article__subtitle= a.subtitle
    .article__content.wrap!= a.content
    footer.article__footer
      .article__meta.wrap
        p
          if h.isEnglish(locals)
            span Published on
            time.article__date= h.formatDateEnglish(a.date)
          else
            span Veröffentlicht am
            time.article__date= h.formatDateGerman(a.date)
          if update && update != a.date
            = " – "
            if h.isEnglish(locals)
              span updated on
              time.article__date= h.formatDateEnglish(update)
            else
              span aktualisiert am
              time.article__date= h.formatDateEnglish(update)
          | .
          if a.elmVersion
            = " "
            if h.isEnglish(locals)
              | Code samples for Elm #{a.elmVersion}.
            else
              | Code-Beispiele für Elm #{a.elmVersion}.
          if h.isEnglish(locals)
            p.social
              | Liked the article? Follow me on
              = " "
              a.social__link(href="https://twitter.com/dennisreimann" rel="me")
                | Twitter
                +icon("social-twitter").social__icon
            p
              | You got remarks or corrections?
              = " "
              a(href=`https://github.com/dennisreimann/website/blob/master/src/articles/${a.fileName}`) Let me know!
            p
              | And by the way:
              = " "
              strong I am available for hire
              = " "
              | – looking for help?
              = " "
              a(href="/contact.html") Get in touch!
      .article__nav.wrap
        - prevArticle = mvb.article.previousArticle
        - nextArticle = mvb.article.nextArticle
        h5.article__nav__title
          a.more__link(href="/articles.html")= h.t(locals, "Weitere Artikel", "More articles")
        +articles([nextArticle, prevArticle].filter(e =>  e), "blog").article__nav__items

  section.wrap
    include /includes/ioctocat
