mixin articles(articles)
  ul.articles
    for a in articles
      li.articles__item
        time.articles__item__date= h.t(locals, h.article.germanDate(a), h.article.englishDate(a))
        a.articles__item__link(href=a.permalink)
          span.articles__item__title= a.title
          if a.subtitle
            span.articles__item__subtitle= a.subtitle
        if a.alternate
          span.articles__item__alternate
            | [
            a.articles__item__link(href=a.alternate.href)= a.alternate.lang
            | ]
