extends ../templates/layout
include ../templates/articles

block title
  title
    = mvb.article.title
    if mvb.article.subtitle
      = " – "
      = mvb.article.subtitle
    = " • Dennis Reimann: Frontend-Entwicklung mit JavaScript, CSS und HTML"
block meta
  meta(name="description" content=h.article.description(mvb.article))
  if mvb.article.tags
    meta(name="keywords" content=h.article.keywords(mvb.article))
    
block main
  section
    article.article
      header.article__header
        hgroup
          h1.article__title= mvb.article.title
          if mvb.article.subtitle
            h2.article__subtitle= mvb.article.subtitle
      .article__content!= mvb.article.content
      footer.article__footer
        .article__meta
          if h.isEnglish(locals)
            span Written on
            | &nbsp;
            time.article__date= h.article.englishDate(mvb.article)
          else
            span Geschrieben am 
            | &nbsp;
            time.article__date= h.article.germanDate(mvb.article)
        .article__nav
          - prevArticle = mvb.article.previousArticle
          - nextArticle = mvb.article.nextArticle
          h5.article__nav__title= h.t(locals, "Weitere Artikel", "More articles")
          +articles([nextArticle, prevArticle].filter(function(e){return e})).article__nav__items
          
