doctype xml
feed(xmlns="http://www.w3.org/2005/Atom" xml:lang="de" xml:base="https://dennisreimann.de")
  id= h.baseUrl("/atom.xml")
  title //dennisreimann
  subtitle Dennis Reimann: Freiberuflicher Softwareentwickler • Frontend-Entwicklung mit JavaScript, CSS und HTML
  updated= h.articles.feedDate(mvb.articles)
  link(href= h.baseUrl("/articles.html"))
  link(rel="self" href=h.baseUrl("/atom.xml"))
  author
    name Dennis Reimann
    email mail@dennisreimann.de
  for a in mvb.articles
    entry
      id= h.baseUrl(a.permalink)
      title= a.title
      link(href=h.baseUrl(a.permalink))
      if a.alternate
        link(rel="alternate" type="text/html" href=h.baseUrl(a.alternate.href) title=a.alternate.lang)
      updated= h.article.feedDate(a)
      if a.description
        summary= a.description
      content(type="html")= a.content
