mixin entry(a)
  entry
    id= h.siteUrl(a.permalink)
    title= a.title
    link(href=h.siteUrl(a.permalink))
    if a.alternate
      link(rel="alternate" type="text/html" href=h.siteUrl(a.alternate.href) title=a.alternate.lang)
    updated= h.article.feedDate(a)
    if a.description
      summary= a.description
    content(type="html")
      if a.description
        = a.description
      else
        = a.content
