extends /includes/layout

block title
  title=h.title("Dennis Reimann, UI engineer")

block meta
  meta(name="robots" content="noindex")

block og
  meta(property="og:type" content="profile")
  meta(property="og:title" content=h.title("Contact"))
  meta(property="og:description" content="As a User Interface Engineer I help product teams to build applications based on a solid design system and component library.")
  meta(property="og:image" content=h.assetUrl("images/dennis_reimann-2x.jpg", "http"))
  meta(property="og:image:secure_url" content=h.assetUrl("images/dennis_reimann-2x.jpg", "https"))
  meta(property="profile:gender" content="male")
  meta(property="profile:first_name" content="Dennis")
  meta(property="profile:last_name" content="Reimann")
  meta(property="profile:username" content="dennisreimann")

block main
  section.wrap#about
    img(alt="Dennis Reimann" src=h.assetUrl("images/dennis_reimann.jpg") srcset=`${h.assetUrl("images/dennis_reimann-2x.jpg")} 2x`)

    table
      tbody
        tr
          th Name
          td Dennis Reimann
        tr
          th Schwerpunkt
          td
            | User Interface Engineering
            br
            | Design Systeme
            br
            | Frontend Architektur
            br
            | Web Performance
        tr
          th Adresse
          td
            | Ottjen-Alldag-Str. 32
            br
            | 28277 Bremen
            br
            | Deutschland
        tr
          th USt-IdNr.
          td DE247768646
        tr
          th Web
          td
            a.url(href="https://dennisreimann.de/" rel="me") dennisreimann.de
        tr
          th E-Mail
          td
            a(href="mailto:mail@dennisreimann.de" rel="me") mail@dennisreimann.de
        tr
          th Telefon
          td: a(href="tel:+49-151-22630317" rel="me") +49 (0)151 22 63 03 17
        tr.social
          th Anderswo
          td
            a.social__link(href="https://www.xing.com/profile/Dennis_Reimann5" rel="me") XING
            a.social__link(href="https://twitter.com/DennisReimann" rel="me") Twitter
            a.social__link(href="https://github.com/dennisreimann" rel="me") GitHub
            a.social__link(href="https://steemit.com/@dennisreimann" rel="me") Steemit

  section.wrap#imprint
    header
      h2 Impressum

    .content
      h3 Inhaltlich Verantwortliche gemäß TMG und § 55 Abs. 2 RStV
      p
        | Dennis Reimann
        br
        | Ottjen-Alldag-Str. 32
        br
        | 28277 Bremen

      h3 Urheber- und Kennzeichenrecht
      p
        | Für alle weiteren Inhalte dieser Website gilt:
        | er Autor ist bestrebt, in allen Publikationen die Urheberrechte der verwendeten Bilder, Grafiken, Tondokumente, Videosequenzen und Texte zu beachten, von ihm selbst erstellte Bilder, Grafiken, Tondokumente, Videosequenzen und Texte zu nutzen oder auf lizenzfreie Grafiken, Tondokumente, Videosequenzen und Texte zurückzugreifen.
      p
        | Das Copyright für veröffentlichte, vom Autor selbst erstellte Objekte bleibt allein beim Autor der Seiten.
        | Eine Vervielfältigung oder Verwendung solcher Grafiken, Tondokumente, Videosequenzen und Texte in anderen elektronischen oder gedruckten Publikationen ist ohne ausdrückliche Zustimmung des Autors nicht gestattet.
      p
        | Alle innerhalb des Internetangebotes genannten und ggf. durch Dritte geschützten Marken- und Warenzeichen unterliegen uneingeschränkt den Bestimmungen des jeweils gültigen Kennzeichenrechts und den Besitzrechten der jeweiligen eingetragenen Eigentümer.
        | Allein aufgrund der bloßen Nennung ist nicht der Schluss zu ziehen, dass Markenzeichen nicht durch Rechte Dritter geschützt sind!

      h3 Haftungshinweis
      p
        | Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links.
        | Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.

      h3 Datenschutz
      p
        | Die Nutzung dieser Webseite ist in der Regel ohne Angabe personenbezogener Daten möglich. Soweit auf
        | unseren Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder E-Mail-Adressen) erhoben werden,
        | erfolgt dies, soweit möglich, stets auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdrückliche
        | Zustimmung nicht an Dritte weitergegeben. Wir weisen darauf hin, dass die Datenübertragung im Internet
        | (z.B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten
        | vor dem Zugriff durch Dritte ist nicht möglich. Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten
        | Kontaktdaten durch Dritte zur Übersendung von nicht ausdrücklich angeforderter Werbung und Informationsmaterialien
        | wird hiermit ausdrücklich widersprochen. Die Betreiber der Seiten behalten sich ausdrücklich rechtliche Schritte
        | im Falle der unverlangten Zusendung von Werbeinformationen, etwa durch Spam-Mails, vor.
