mixin article_item_topic(a)
  li.articles__item.articles__item--topic
    a.articles__item__link(href=a.permalink)
      span.articles__item__title= a.title
      if a.subtitle
        span.articles__item__subtitle= a.subtitle
    span.articles__item__lang
      | [
      = a.lang ? a.lang : h.lang(locals)
      if a.alternate
        |&nbsp;|&nbsp;
        span.articles__item__alternate
          a.articles__item__link(href=a.alternate.href)= a.alternate.lang
      | ]
    if a.description
      p.articles__item__description
        != a.description
        |&nbsp;
        a.more__link(href=a.permalink + "#more")= h.t(locals, "mehr", "more")
      
